.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 400px);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h1 {
    text-align: center;
}